@model MonitorTool.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Student</h3>
<div class="row">
    <div class=" col-md-4">

        <form asp-action="Edit" >
            <div class="form-group">
                <input  type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name">Student Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <input asp-for="Gender" type="text" class="form-control" aria-describedby="emailHelp">
                @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Age</label>
                <input asp-for="Age" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>